
:root{
  --clr-btn:#2EC4B6;
  --clr-div-bg:#FFF;
  --clr-border_shadow:rgba(0, 0, 0, 0.10);
  --clr-bg:#F7FDFC;
  --cl-plachold: #737373;
 --cl-black:#000B0A;
--cl-label:#011C34;
--cl-input: #f0f0f0;
--cl-placeholder: #737373;
--cl--fph:#011c34;
--cl-footer:#000;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
   background-color: var(--clr-bg);
   overflow-x: hidden;
   height: 100%;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* MAIN STYLING*/

section{
 display: flex;
 flex-direction: row;
  width: 1140px;
  height: 840px;
  flex-shrink: 0;
background-color: var(--clr-bg);
margin: 0 auto;
padding: 12px 12px 0 12px;

}

.first_container{
margin: 180px 45px 0 30px;

 p{
 
  color: var(--cl-plachold);
font-family: Brown;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 156.25% */
width: 450px;
height: 75px;
margin-left: 10px;

 } 


.second_p{
display: none;

}

h2{
  color: var();
font-family: Brown;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 125% */
letter-spacing: -0.8px;
width: 268px;
height: 50px;
margin: 7px 0 7px 10px;
}

img{
  width: 77.333px;
height: 80px;
flex-shrink: 0;
drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.10));

}

}

.second_container{
  width: 580px;
height: 679px;
flex-shrink: 0;
border-radius: 6px;
box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
background-color: var(--clr-div-bg);
padding: 5px;
display: flex;


}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;

  #fname{
    border: 2px solid var(--clr-btn);
  }
  
  label{
color: var(--cl-label);
font-family: Sofia Pro;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.1px;
line-height: 2.5;
width: 159px;
  }

  input,
  select,
  button
  {
    width: 238px;
    height: 48px;
    flex-shrink: 0; 
    color: var(--cl-black);
    border: 2px solid var(--cl-input);
    font-size: large;
  }

  #activity,
  #pass_code,
  button{
    width: 500px;
    height: 48px;
    color: var(--cl-black);
    border-radius: 2px;
    border: 1px solid var(--cl-input)
  }

  
  .form_one,
  .form_two,
  .form_three {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

    ::placeholder
    {
      color: var(--cl--fph);
      padding-left: 5px;
      
    }

    button{
      color: var(--clr-div-bg);
      text-align: center;
      font-family: Sofia Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.2px;
      drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.10));
      background-color: var(--clr-btn);
    }

    footer{

      p{
        font-family: Sofia Pro;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 178.571% */
        color: var(--cl-footer);
        width: 463px;
        height: 25px;
        margin-left: 25px;
        margin-bottom: 30px;
      }

      .hide_paragraph{
        display: none;
      }

      a{
        color: var(--CL-Green, #2EC4B6);
        font-family: Sofia Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        text-decoration-line: underline;
      }

    }

}

 
@media screen and (min-width: 280px) and (max-width:768px){
  
   body{
    height: 100%;
   }

  section{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 1294px;
    flex-shrink: 0;
     background-color: var(--clr-bg);
     background-color: var(--clr-btn);
   margin: 0 auto;
   
   
   }

   .first_container{
    margin: 15px 0 15px 10px;

   }

   .first_container p{
    display: none;
  }

   .first_container .second_p{
    display: block;
    width: 327px;
    height: 50px;
    font-family: Brown;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; /* 156.25% */
    color: var(--cl-placeholder);
    
    
  }


   
   h2{
    width: 327px;
    height: 30px;
    flex-shrink: 0;
    font-family: Brown;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
    color: var(--cl-black);
    background-color: red;
  }

   img{
    width: 38.667px;
    height: 40px;
    flex-shrink: 0;
    background-color: red;
  }


   .second_container{
    width: 327px;
    height: 870px;
    flex-shrink: 0;
    border-radius: 6px;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
    background-color: var(--clr-div-bg);
    display: flex;
    margin: 0 auto;
    padding: 0;
   }


   form{
    display: flex;
    
    justify-content: space-between;
    padding: 35px 5px 0 5px;

   }


   label{
    width: 179px;
    font-family: Sofia Pro;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5;
    letter-spacing: 0.1px;
    background-color: red;
    }


   form input,
   form select,
   button{
     width: 295px;
     height: 48px;
     flex-shrink: 0;
     border-radius: 2px;
     border: 1px solid var(--cl-input);
     outline: none;
   }

   input:hover,
   select:hover,
   button:hover,
  .select #activity:hover,
  .password #pass_code:hover,
   button:hover
   {
    border: 1px solid var(--clr-btn);
   }
    

   input:active,
   select:active,
   button:active,
  .select #activity:active,
  .password #pass_code:active,
   button:active
   {
    border: 1px solid var(--clr-btn);
   }


   .select #activity,
   .password #pass_code,
    button {
      width: 295px;
     height: 48px;
     flex-shrink: 0;
     border-radius: 2px;
     border: 1px solid var(--cl-input);
   } 

     form .form_one,
     form .form_two,
     form .form_three {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }


   ::placeholder{
    font-family: Sofia Pro;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    color: var(--cl-placeholder);
    background-color: red;
    padding-left: 10px;
  }



   form button{
    width: 295px;
    height: 48px;
    flex-shrink: 0;
    fill: var(--clr-btn);
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.10));
    background-color: red;
  }


    footer{
    position: relative;

  }

  .hide_paragraph{
    position: absolute;
    display: block;
    text-align: center;
    font-family: Sofia Pro;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
    color: var(--cl-footer);
    width: 316px;
    height: 50px;
    margin-left: -10px;
    top: 15px;
    background-color: red;
   }


  footer p{
    display: none;
   }

   
  footer a{
    font-family: Sofia Pro;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-decoration-line: underline;
    color: var(--clr-btn);
    background-color: red;
   }
  
 
}









 
 